[submodule "auth-service"]
	path = auth-service
	url = https://github.com/GuilhermeRoque/auth-service.git
	branch = main
[submodule "iot-app"]
	path = iot-app
	url = https://github.com/GuilhermeRoque/iot-app.git
	branch = main
# git submodule update --remote --recursive
[submodule "api-gateway-auth"]
	path = api-gateway-auth
	url = https://github.com/GuilhermeRoque/api-gateway-auth.git
	branch = main
[submodule "web-service-utils"]
	path = web-service-utils
	url = https://github.com/GuilhermeRoque/web-service-utils.git
	branch = main
[submodule "device-mgnt"]
	path = device-mgnt
	url = https://github.com/GuilhermeRoque/device-mgnt.git
	branch = main
[submodule "device-proxy"]
	path = device-proxy
	url = https://github.com/GuilhermeRoque/device-proxy.git
	branch = main
[submodule "data-analyser"]
	path = data-analyser
	url = https://github.com/GuilhermeRoque/data-analyser.git
	branch = main
