[submodule "auth-service"]
	path = auth-service
	url = https://github.com/GuilhermeRoque/auth-service.git
	branch = main
[submodule "iot-app"]
	path = iot-app
	url = https://github.com/GuilhermeRoque/iot-app.git
	branch = main
# git submodule update --remote --recursive